[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
filetype = "*"

[dev-packages]
vistir = "~=0.6.1"
flake8 = "*"
black = "*"

[requires]
python_version = "3.10"

[build]
pipenv-setup = {extras = ["black"], version = "*"}
wheel = "*"
twine = "*"
check-wheel-contents = "*"
